{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<h2 style="font-size: 3em; color: green" class="text-center">Note</h2>
<section
  class="text-center container"
  style="max-height: 100%; padding-top: 40px"
>
  <div class="container">
    <div
      class="content-section p-0 mt-5"
      style="background-color: black; border-radius: 50px 50px"
    >
      <div class="m-3">
        <h2 style="font-size: 2.5em; color: green">{{notes.title}}</h2>
      </div>
      <hr
        style="
          height: 1px;
          border-width: 0;
          color: gray;
          background-color: gray;
          width: 500px;
        "
      />

      <!-- <hr class="p-0 m-0" /> -->
      <p class="description m-5 p-5" style="color: whitesmoke">
        {{notes.description}}
      </p>
    </div>
  </div>
</section>
<br />
{% endblock content %}
